<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <link rel="stylesheet" href="../../static/css/player/check.css">
</head>

<body>

    <!-- =========== CHECK ========== -->
    <section id="check">
        <div class="container check__container">
            <div class="check-title flex-left">
                <img src="../../static/images/type-performance.png">
                <p class="font24">경기력</p>
            </div>
            <p class="font16 announce">현재 나의 경험이나 최근 상태와 가장 일치하는 곳에 표시 해주세요.</p>
            <!-- 검사하기 -->
            <form action="#">
                <div class="form__container">
                    <!-- 질문과 평가 세트 1 -->
                    <div class="check-set set1">
                        <p class="font18">1. 최근 경기력에 대해 만족하시나요?</p>
                        <div class="select__container">
                            <div class="select-item flex-column">
                                <img src="../../static/images/one.svg">
                                <p class="font12">매우 없음</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/two.svg">
                                <p class="font12">없음</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/three.svg">
                                <p class="font12">보통</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/four.svg">
                                <p class="font12">자신</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/five.svg">
                                <p class="font12">매우 자신</p>
                            </div>
                        </div>
                    </div>
                    <!-- 질문과 평가 세트 2 -->
                    <div class="check-set set2">
                        <p class="font18">2. 나의 목표를 달성할 수 있을지 걱정된다.</p>
                        <div class="select__container">
                            <div class="select-item flex-column">
                                <img src="../../static/images/worst.svg">
                                <p class="font12">매우 안좋음</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/bad.svg">
                                <p class="font12">안좋음</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/soso.svg">
                                <p class="font12">보통</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/good.svg">
                                <p class="font12">걱정없음</p>
                            </div>
                            <div class="select-item flex-column">
                                <img src="../../static/images/best.svg">
                                <p class="font12">전혀 없음</p>
                            </div>
                        </div>
                    </div>
                    <!-- 질문과 평가 세트 3 -->
                    <div class="check-set set3">
                        <p class="font18">3. 요즘 팀 동료들과 관계가 좋다.</p>
                        <div class="select__container">
                            <div class="select-item flex-column">
                                <div class="circle__container flex-center">
                                    <div class="circle-big border-red"></div>
                                </div>
                                <p class="font12">매우 별로</p>
                            </div>
                            <div class="select-item flex-column">
                                <div class="circle__container flex-center">
                                    <div class="circle border-red"></div>
                                </div>
                                <p class="font12">별로</p>
                            </div>
                            <div class="select-item flex-column">
                                <div class="circle__container flex-center">
                                    <div class="circle-small border-gray"></div>
                                </div>
                                <p class="font12">보통</p>
                            </div>
                            <div class="select-item flex-column">
                                <div class="circle__container flex-center">
                                    <div class="circle border-green"></div>
                                </div>
                                <p class="font12">좋음</p>
                            </div>
                            <div class="select-item flex-column">
                                <div class="circle__container flex-center">
                                    <div class="circle-big border-green"></div>
                                </div>
                                <p class="font12">매우 좋음</p>
                            </div>
                        </div>
                    </div>

                    <div class="btn-bottom__container">
                        <button class="btn-basic" type="submit">완료하기</button>
                    </div>


                </div>
            </form>
        </div>
    </section>

    <script src="../../static/javascript/player/check.js"></script>

</body>

</html>