<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Mind</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- ICON SCOUT -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../static/css/common/style.css" />
    <link rel="stylesheet" href="../../static/css/player/feed.css" />
  </head>

  <body>
    <section id="feed">
      <nav id="navigation"></nav>
      <!-- 헤더 컨테이너 -->
      <div class="container">
        <!-- 헤더 -->
        <div class="page-header flex-between-bottom">
          <p class="font20" th:text="">손흥민님의 피드</p>
          <!-- 컨설턴트만 보이게, 작성하기 페이지로 이동 기능 -->
          <a href="" class="font14 write" th:if="">작성하기</a>
        </div>
      </div>
      <!-- 피드 컨테이너 -->
      <div class="container-cover">
        <div class="feed-item" th:each="">
          <!-- 피드 header -->
          <div class="feed-header container flex-between">
            <div class="flex-left">
              <img
                class="feed-header-img"
                src="../../static/images/consultant.jpg"
                alt=""
              />
              <p class="font14" th:text="">김정민</p>
            </div>
            <i class="feed-menu uil uil-ellipsis-h"></i>
          </div>
          <!-- 피드 body -->
          <div class="feed-body flex-center">
            <div>
              <p class="font18 feed-content" th:text="">
                나를 죽이지 못한<br />고통은<br />나를 성장시킨다
              </p>
              <!-- 링크가 있다면 띄우기 -->
              <a
                class="feed-link"
                href="https://www.naver.com"
                th:if=""
                th:text=""
                target="_blank"
              >
                https://www.naver.com
              </a>
            </div>
          </div>
          <!-- 피드 footer -->
          <div class="feed-footer container">
            <!-- 댓글 2개 이상일 때, 클릭시 피드 상세로-->
            <a class="font12 comments-count" th:if="" th:text="">
              댓글 2개 모두 보기
            </a>
            <!-- 댓글 1개 이하일 때, 클릭시 피드 상세로-->
            <a class="font12 comments-count" th:if="" th:text="">
              댓글 작성하기
            </a>
            <!-- 최신 댓글 하나만 -->
            <div class="flex-left-top comment-item" th:if="">
              <p class="font12 comment-writer" th:text="">손흥민</p>
              <p class="font12 comment-content" th:text="">
                동기부여 됩니다. 좋은 글 감사해요 동기부여 됩니다. 좋은 글
                감사해요 동기부여 됩니다. 좋은 글 감사해요
              </p>
            </div>
            <p class="font10 feed-date" th:text="">2023-09-15</p>
          </div>
        </div>
      </div>
    </section>
    <!-- 글 삭제 dialog -->
    <div id="feed-dialog" class="dialog__container">
      <div class="flex-center">
        <div class="dialog flex-center">
          <a class="font14">글 삭제하기</a>
        </div>
      </div>
    </div>

    <script src="../../static/javascript/common/base.js"></script>
    <script src="../../static/javascript/player/feed.js"></script>
  </body>
</html>
