.password-change__container {
    padding-top: var(--margin-top);
}

.font24 {
    margin-bottom: 40px;
}

input#password {
    margin-bottom: 10px;
}

input#re-password {
    margin-bottom: 3px;
}

.error {
    margin-left: 5px;
    color: var(--color-white);
}

.error.active {
    color: var(--color-red);
}