.profile-img__container {
    margin-top: 62px;
    flex-direction: column;
}

.profile-img__container img {
    width: 134px;
    height: 134px;
    margin-bottom: 12px;
}

.profile-img__container a {
    color: var(--color-gray300);
}

.form__container {
    margin-top: 40px;
}

input#selectDate {
    border: 0;
    font-size: 18px;
    padding: 0 5px;
}