/* =================GENERAL CSS================ */

:root {

    --color-primary: #FFE400;
    --color-primary-dark: #d4c004;
    --color-primary-light: #fff8bc;


    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray100: #FAFAFA;
    --color-gray200: #B5B5B5;
    --color-gray300: #575757;

    --color-red: #FC5230;
    --color-lightRed: #FFE2DC;
    --color-yellow: #EFB93A;
    --color-lightYellow: #F5ECD7;
    --color-green: #1DBA84;
    --color-lightGreen: #CDF3E6;
    --color-pink: #FA6EA1;
    --color-blue: #4B77FA;

    --color-dot1: #44AFC6;
    --color-dot2: #FF902F;
    --color-dot3: #75943E;
    --color-dot4: #91D64E;
    --color-dot5: #FFFE61;
    --color-dot6: #898989;
    --color-dot7: #3E6388;
    --color-dot8: #000000;
    --color-dot9: #C44F47;


    --transition: all 300ms ease;

    --container-width: 1160px;
    --container-center-fit: 600px;
    --container-width-phone: 95%;

    --button-radius: 20px;
    --input-radius: 10px;
    --card-radius: 5px;

    --font32: 32px;
    --font28: 28px;
    --font24: 24px;
    --font20: 20px;
    --font18: 18px;
    --font16: 16px;
    --font14: 14px;
    --font12: 12px;
    --font10: 10px;

    --image-size-round: 60px;

    --margin-top: 25px;
    --margin-label: 10px;
    --margin-input: 30px;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    /* 300,400,500,700,900 사용가능 */
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color-black);
    background: var(--color-white);
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

/* =================LANGUAGE CSS================ */
.eng {
    /* 300,400,500,700,900 사용가능 */
    font-family: 'Roboto', sans-serif;
}

/* =================FONT CSS================ */
.font32 {
    font-size: var(--font32);
}

.font28 {
    font-size: var(--font28);
}

.font24 {
    font-size: var(--font24);
}

.font20 {
    font-size: var(--font20);
}

.font18 {
    font-size: var(--font18);
}

.font16 {
    font-size: var(--font16);
}

.font14 {
    font-size: var(--font14);
}

.font12 {
    font-size: var(--font12);
}

.font10 {
    font-size: var(--font10);
}

a {
    cursor: pointer;
    color: var(--color-black);
    -webkit-tap-highlight-color: transparent;
}

.logo {
    font-size: var(--font16);
    font-weight: 900;
}

.logo-big {
    font-size: var(--font20);
    font-weight: 900;
}

/* =================COLOR CSS================ */

.green {
    background-color: var(--color-green);
}

.yellow {
    background-color: var(--color-yellow);
}

.red {
    background-color: var(--color-red);
}

.blue {
    background-color: var(--color-blue);
}

.pink {
    background-color: var(--color-pink);
}

.gray {
    background-color: var(--color-gray200);
}

/* =================WIDGET CSS================ */
.wrapper {
    height: calc(100vh - 69px);
}

.container {
    width: var(--container-width);
    max-width: var(--container-center-fit);
    margin: 0 auto;
}

.container-fit {
    width: var(--container-width);
    max-width: var(--container-width);
    margin: 0 auto;
}

button {
    border-radius: var(--button-radius);
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font16);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btn-basic {
    width: 100px;
    height: 45px;
}

.btn-big {
    width: 130px;
    height: 50px;
    font-size: var(--font18);
    font-weight: 400;
}

.btn-small {
    width: 75px;
    height: 35px;
    font-size: var(--font12);
    font-weight: 400;
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-black);
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid var(--color-white);
}

.button__container {
    margin-top: 45px;
}

.btn-bottom__container {
    padding-bottom: 30px;
}

input {
    width: 100%;
    border: 1px solid var(--color-gray200);
    border-radius: var(--input-radius);
    font-size: var(--font16);
    padding: 20px 10px;
    margin-bottom: var(--margin-input);
}

input:focus {
    border: 1px solid var(--color-black);
}

input::placeholder {
    color: var(--color-gray300);
}

textarea {
    width: 100%;
    border: 1px solid var(--color-gray200);
    border-radius: var(--input-radius);
    font-size: var(--font16);
    padding: 20px 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

textarea:focus {
    border: 1px solid var(--color-black);
}

textarea::placeholder {
    color: var(--color-gray300);
    font-weight: 300;
}

.input-label {
    font-size: var(--font14);
    margin-bottom: var(--margin-label);
    margin-left: 8px;
}

select {
    width: 100%;
    border: 1px solid var(--color-gray200);
    border-radius: var(--input-radius);
    font-size: var(--font16);
    padding: 20px 10px;
    appearance: none;
}

option {
    padding: 15px 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--card-radius);
}


section {
    width: 100%;
}

.fit-height {
    height: 100vh;
}



/* =================CUSTOM CSS================ */

/* flex 요소 */
.flex-center {

    display: flex;
    align-items: center;
    justify-content: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-even {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 말줄임표 */
.ellipsis-line-one {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis-line-three {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 상태 */
.status {
    width: 18px;
    height: 18px;
    border-radius: 10px;
}

/* 가입 유형 */
.user-type {
    display: inline-block;
    padding: 3px 5px;
}

.player {
    background-color: var(--color-lightGreen);
    color: var(--color-green);
}

.director {
    background-color: var(--color-lightRed);
    color: var(--color-red);
}

.consultant {
    background-color: var(--color-lightYellow);
    color: var(--color-yellow);
}

/* 레이더 차트 아이콘 */
.radar__container {
    position: relative;
    padding: 25px;
}

.radar__container img {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    top: 49%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.radar__container .dot {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: 0.6;
    transform: translate(-50%, -50%);
}

.dot.type-dot1 {
    background-color: var(--color-dot1);
    top: 14%;
    left: 52.2%;
}

.dot.type-dot2 {
    background-color: var(--color-dot2);
    top: 22.5%;
    left: 74.5%;
}

.dot.type-dot3 {
    background-color: var(--color-dot3);
    top: 43%;
    left: 86.5%;
}

.dot.type-dot4 {
    background-color: var(--color-dot4);
    top: 66.5%;
    left: 82.5%;
}

.dot.type-dot5 {
    background-color: var(--color-dot5);
    top: 82%;
    left: 64%;
}

.dot.type-dot6 {
    background-color: var(--color-dot6);
    top: 82%;
    left: 40%;
}

.dot.type-dot7 {
    background-color: var(--color-dot7);
    top: 66.5%;
    left: 22%;
}

.dot.type-dot8 {
    background-color: var(--color-dot8);
    top: 43%;
    left: 18%;
}

.dot.type-dot9 {
    background-color: var(--color-dot9);
    top: 22.5%;
    left: 30%;
}

/* =================MEDIA QUERY================ */
@media screen and (max-width:780px) {
    .container {
        width: var(--container-width-phone);
    }

    .container-fit {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .radar__container img {
        width: 65px;
        height: 65px;
    }

    .radar__container .dot {
        width: 26px;
        height: 26px;
    }

    .dot.type-dot1 {
        top: 14.5%;
        left: 52.1%;
    }

    .dot.type-dot2 {
        top: 23%;
        left: 74%;
    }

    .dot.type-dot3 {
        top: 43.5%;
        left: 85.5%;
    }

    .dot.type-dot4 {
        top: 66%;
        left: 81.5%;
    }

    .dot.type-dot5 {
        top: 81%;
        left: 64%;
    }

    .dot.type-dot6 {
        top: 81%;
        left: 40%;
    }

    .dot.type-dot7 {
        top: 66%;
        left: 23%;
    }

    .dot.type-dot8 {
        top: 43.5%;
        left: 19%;
    }

    .dot.type-dot9 {
        top: 23%;
        left: 30%;
    }
}

@media screen and (max-width:500px) {
    .radar__container img {
        width: 45px;
        height: 45px;
        top: 48.5%;
        left: 51.7%;
    }

    .radar__container .dot {
        width: 22px;
        height: 22px;
    }

    .dot.type-dot1 {
        top: 18%;
    }

    .dot.type-dot2 {
        top: 26%;
        left: 71%;
    }

    .dot.type-dot3 {
        top: 43.5%;
        left: 81.5%;
    }

    .dot.type-dot4 {
        top: 63.5%;
        left: 78%;
    }

    .dot.type-dot5 {
        top: 76.5%;
        left: 62%;
    }

    .dot.type-dot6 {
        top: 76.5%;
        left: 42%;
    }

    .dot.type-dot7 {
        top: 63.5%;
        left: 26.5%;
    }

    .dot.type-dot8 {
        top: 43.5%;
        left: 23%;
    }

    .dot.type-dot9 {
        top: 26%;
        left: 33%;
    }


}

@media screen and (max-width:450px) {
    .radar__container img {
        width: 30px;
        height: 30px;
        top: 48%;
        left: 51.5%;
    }

    .radar__container .dot {
        width: 20px;
        height: 20px;
    }

    .dot.type-dot1 {
        top: 20.5%;
    }

    .dot.type-dot2 {
        top: 27.5%;
        left: 70%;
    }

    .dot.type-dot3 {
        top: 43.5%;
        left: 79%;
    }

    .dot.type-dot4 {
        top: 61.5%;
        left: 76%;
    }

    .dot.type-dot5 {
        top: 73.5%;
        left: 61%;
    }

    .dot.type-dot6 {
        top: 73.5%;
        left: 42.5%;
    }

    .dot.type-dot7 {
        top: 61.5%;
        left: 29%;
    }

    .dot.type-dot8 {
        top: 43.5%;
        left: 25%;
    }

    .dot.type-dot9 {
        top: 27.5%;
        left: 34%;
    }
}

@media screen and (max-width:400px) {
    .radar__container img {
        width: 25px;
        height: 25px;
        top: 47.5%;
        left: 51%;
    }

    .radar__container .dot {
        width: 16px;
        height: 16px;
    }

    .dot.type-dot1 {
        top: 25%;
        left: 51.5%;
    }

    .dot.type-dot2 {
        top: 31%;
        left: 65.5%;
    }

    .dot.type-dot3 {
        top: 43.5%;
        left: 73%;
    }

    .dot.type-dot4 {
        top: 58.5%;
        left: 71%;
    }

    .dot.type-dot5 {
        top: 68%;
        left: 58.5%;
    }

    .dot.type-dot6 {
        top: 68%;
        left: 44%;
    }

    .dot.type-dot7 {
        top: 58.5%;
        left: 32.5%;
    }

    .dot.type-dot8 {
        top: 43.5%;
        left: 30%;
    }

    .dot.type-dot9 {
        top: 31%;
        left: 37%;
    }
}