<link rel="stylesheet" href="../../static/css/common/navigation.css">
<div class="navigation__container container flex-between">
    <a onclick="document.getElementById('menu').style.display='block'"><i class="uil uil-bars font20"></i></a>
    <a href="../../templates/player/profile.html" class="logo-big eng">MIND UP</a>
    <a href="../../templates/common/main.html"><i class="uil uil-signout font20"></i></a>
</div>

<menu id="menu" style="z-index: 9; display: none;">
    <div class="menu__container container">
        <div class="menu-header flex-between">
            <a onclick="document.getElementById('menu').style.display='none'">
                <i class="uil uil-multiply font20"></i>
            </a>
            <p class="logo-big eng">MIND UP</p>
        </div>

        <!-- 공통-임시 -->
        <p class="font18">공통 메뉴</p>
        <div class="menu-content flex-column" th:if="">
            <a href="../../templates/common/announce.html" class="font32">공지사항</a>
            <a href="../../templates/common/password_change.html" class="font32">비밀번호 변경</a>
        </div>
        <!-- 선수 -->
        <p class="font18">선수 메뉴</p>
        <div class="menu-content flex-column" th:if="">
            <a href="../../templates/player/profile.html" class="font32">프로필</a>
            <a href="../../templates/player/result.html" class="font32">검사 결과</a>
            <!-- <a href="/templates/common/announce.html" class="font32">공지사항</a>
            <a href="/templates/common/password_change.html" class="font32">비밀번호 변경</a> -->
        </div>

        <!-- 지도자 -->
        <p class="font18">지도자 메뉴</p>
        <div class="menu-content flex-column" th:if="">
            <a href="../../templates/director/profile.html" class="font32">프로필</a>
            <!-- <a href="/templates/common/announce.html" class="font32">공지사항</a>
            <a href="/templates/common/password_change.html" class="font32">비밀번호 변경</a> -->
        </div>

        <!-- 상담가 -->
        <p class="font18">상담가 메뉴</p>
        <div class="menu-content flex-column" th:if="">
            <a href="../../templates/consultant/profile.html" class="font32">프로필</a>
            <!-- <a href="/templates/common/announce.html" class="font32">공지사항</a>
            <a href="/templates/common/password_change.html" class="font32">비밀번호 변경</a> -->
        </div>
    </div>
</menu>