<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Mind</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- ICON SCOUT -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../static/css/common/style.css" />
    <link rel="stylesheet" href="../../static/css/common/profile.css" />
    <link rel="stylesheet" href="../../static/css/consultant/playerItem.css" />

    <!-- CALENDAR -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>

    <script>
      const isToday = (dateString) => {
        const today = new Date();

        const year = today.getFullYear().toString();
        const month = (today.getMonth() + 1).toString().padStart(2, "0");
        const day = today.getDate().toString().padStart(2, "0");

        const todayString = `${year}-${month}-${day}`;

        return dateString === todayString;
      };

      const formatDate = (dateString) => {
        const parts = dateString.split("-");
        const year = parts[0].substring(2);
        const month = parts[1];
        const day = parts[2];

        return `${year}년 ${month}월 ${day}일`;
      };

      document.addEventListener("DOMContentLoaded", function () {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          locale: "ko",
          headerToolbar: {
            start: "title",
            center: "",
            end: "prev,next",
          },
          dateClick: function (info) {
            const dateEl = document.getElementById("date");
            let dateString = info.dateStr;
            dateEl.innerText = isToday(dateString)
              ? "오늘"
              : formatDate(dateString);
          },
        });
        calendar.render();
      });
    </script>
  </head>

  <body>
    <!-- =========== PROFILE-CONSULTANT ========== -->
    <section id="profile-consultant">
      <nav id="navigation"></nav>

      <div class="container profile__container">
        <!-- 인사말 -->
        <p class="greeting font24" id="greeting">김정민</p>
        <!-- 프로필 -->
        <div class="profile">
          <div class="profile__header flex-between">
            <p class="font20">프로필</p>
            <a class="font14" href="../common/profile_edit.html">변경하기</a>
          </div>
          <div class="profile__content flex-between">
            <div class="profile__info flex-column">
              <div class="profile__info-item flex-column">
                <p class="font12">소속팀</p>
                <p class="font16">토트넘 훗스퍼 FC</p>
              </div>
            </div>
            <img class="profile-img" src="../../static/images/consultant.jpg" />
          </div>
        </div>
        <!-- 캘린더 -->
        <div class="calendar__container">
          <p class="font20">캘린더</p>
          <div class="label flex-left">
            <p class="font16 active">팀 선수</p>
            <p class="font16">개인 선수</p>
          </div>
          <div id="calendar"></div>
        </div>
        <!-- 날짜별 선수 리스트 -->
        <div class="player_list">
          <div class="date-label flex-left-bottom">
            <p id="date" class="font20" th:text="">오늘</p>
            <p class="font12 player_count" th:text="">3</p>
          </div>
          <!-- 선수 아이템 -->
          <a class="player-item flex-between" th:each="" th:href="">
            <div class="flex-left">
              <div class="player-img flex-center">
                <img src="../../static/images/son.jpg" alt="선수 프로필" />
                <!-- 평균에 따라서 녹색, 노란색, 빨간색 -->
                <div class="player-status"></div>
              </div>
              <div class="player-info">
                <p class="font18" th:text="">손흥민</p>
                <p class="font12" th:text="">평균: 3.2</p>
              </div>
            </div>
            <div class="flex-left">
              <div class="item-icon flex-center">
                <i
                  class="uil uil-comment-message"
                  style="padding-bottom: 3px"
                ></i>
              </div>
              <div class="item-icon flex-center">
                <i class="uil uil-message" style="padding: 0 0 3px 3px"></i>
              </div>
            </div>
          </a>
        </div>
        <button class="btn-basic send-all">모두에게 설문 요청하기</button>
      </div>
    </section>

    <script src="../../static/javascript/common/base.js"></script>
    <script src="../../static/javascript/common/greeting.js"></script>
    <script src="../../static/javascript/consultant/profile.js"></script>
  </body>
</html>
