<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <link rel="stylesheet" href="../../static/css/common/profile.css">
    <link rel="stylesheet" href="../../static/css/common/result.css">
</head>

<body>
    <!-- =========== PROFILE-CONSULTANT ========== -->
    <section id="profile-consultant">

        <nav id="navigation"></nav>

        <div class="container profile__container">
            <!-- 인사말 -->
            <p class="greeting font24" id="greeting">김정민</p>
            <!-- 프로필 -->
            <div class="profile">
                <div class="profile__header flex-between">
                    <p class="font20">프로필</p>
                    <a class="font14" href="../common/profile_edit.html">변경하기</a>
                </div>
                <div class="profile__content flex-between">
                    <div class="profile__info flex-column">
                        <div class="profile__info-item flex-column">
                            <p class="font12">소속팀</p>
                            <p class="font16">토트넘 훗스퍼 FC</p>
                        </div>
                    </div>
                    <img class="profile-img" src="../../static/images/consultant.jpg">
                </div>
            </div>

            <!-- 팀 차트 -->
            <div class="chart">
                <p class="font20" style="margin-bottom: 20px;">팀 차트</p>
                <!-- 탭 -->
                <div class="chart-tab flex-left">
                    <p class="font16 active">평균 보기</p>
                    <p class="font16">기간별 보기</p>
                </div>
                <!-- 필터 -->
                <div class="chart-filter flex-right">
                    <div class="filter-box active">
                        <select name="average-filter" id="average-filter" onchange="avgFilterChange()">
                            <option value="byAge" selected>나이별 평균</option>
                            <option value="byPosition">포지션별 평균</option>
                        </select>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="filter-box">
                        <select name="date-filter" id="date-filter" onchange="dateFilterChange()">
                            <option value="byMonth" selected>월별 평균</option>
                            <option value="byWeek">주별 평균</option>
                        </select>
                        <i class="uil uil-angle-down"></i>
                    </div>
                </div>
                <!-- 메인 차트 -->
                <div class="canvas__container active">
                    <canvas id="chart-radar" class="main-chart"></canvas>
                </div>
                <div class="canvas__container">
                    <canvas id="chart-line" class="main-chart"></canvas>
                </div>

            </div>

            <!-- 선수 데이터 -->
            <div class="manage">
                <p class="font20">선수 데이터</p>
                <!-- 관리 리스트 -->
                <div class="target-list">
                    <!-- 선수 리스트 -->
                    <div class="target-grid active">

                        <a href="../player/result.html">
                            <div class="target-item flex-column">
                                <img src="../../static/images/son.jpg">
                                <div class="target-info flex-between-column">
                                    <p class="font16">손흥민</p>
                                    <div class="flex-between">
                                        <p class="font12">심리 상태</p>
                                        <!-- 심리 점수 아래 입력 -->
                                        <p class="score" style="display: none;">4.7</p>
                                        <div class="status"></div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="../player/result.html">
                            <div class="target-item flex-column">
                                <img src="../../static/images/son.jpg">
                                <div class="target-info flex-between-column">
                                    <p class="font16">손흥민</p>
                                    <div class="flex-between">
                                        <p class="font12">심리 상태</p>
                                        <!-- 심리 점수 아래 입력 -->
                                        <p class="score" style="display: none;">2.8</p>
                                        <div class="status"></div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="../player/result.html">
                            <div class="target-item flex-column">
                                <img src="../../static/images/son.jpg">
                                <div class="target-info flex-between-column">
                                    <p class="font16">손흥민</p>
                                    <div class="flex-between">
                                        <p class="font12">심리 상태</p>
                                        <!-- 심리 점수 아래 입력 -->
                                        <p class="score" style="display: none;">1.8</p>
                                        <div class="status"></div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
    </section>

    <script src="../../static/javascript/common/base.js"></script>
    <script src="../../static/javascript/common/greeting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="../../static/javascript/consultant/profile.js"></script>

</body>

</html>