<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/static/css/common/style.css">
    <link rel="stylesheet" href="/static/css/common/announce.css">
</head>

<body>

    <!-- =========== ANNOUNCE-DETAIL ========== -->
    <section id="announce-detail">

        <nav id="navigation"></nav>

        <div class="announce__container container">
            <div class="announce-detail-header flex-left">
                <img src="/static/images/director.png">
                <div class="flex-column">
                    <p class="font14">감독 이름</p>
                    <div class="font12 flex-left">
                        <p>2023.06.28</p>
                        <p>·</p>
                        <p>26</p>
                        <p>read</p>
                    </div>
                </div>
            </div>
            <p class="announce-detail-title font20">
                마인드업 멤버가 된 것을 환영합니다.
            </p>
            <p class="announce-detail-content font18">
                예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시
                공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시
                공지사항입니다.
            </p>
        </div>
    </section>

    <script src="/static/javascript/common/base.js"></script>

</body>

</html>