<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/static/css/common/style.css">
    <link rel="stylesheet" href="/static/css/common/announce.css">
</head>

<body>

    <!-- =========== ANNOUNCE ========== -->
    <section id="announce">

        <nav id="navigation"></nav>

        <div class="announce__container container">
            <div class="announce-header flex-between">
                <p class="font24">공지사항</p>
                <a class="font14" href="/templates/director/announce_write.html" th:if="">작성하기</a>
            </div>
            <div class="announce-list">

                <a href="/templates/common/announce_detail.html">
                    <div class="announce-item">
                        <div class="announce-item-body flex-column">
                            <p class="font16">마인드업 멤버가 된 것을 환영합니다.</p>
                            <p class="font18 ellipsis-line-three">예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시
                                공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시 공지사항입니다. 예시
                                공지사항입니다.
                            </p>
                            <duv class="font12 flex-left">
                                <p>감독 이름</p>
                                <p>·</p>
                                <p>4일전</p>
                            </duv>
                        </div>
                        <div class="divider"></div>
                    </div>
                </a>

            </div>
        </div>
    </section>

    <script src="/static/javascript/common/base.js"></script>

</body>

</html>