<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Mind</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- ICON SCOUT -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../static/css/common/style.css" />
    <link rel="stylesheet" href="../../static/css/common/login.css" />
  </head>

  <body>
    <!-- =========== LOGIN ========== -->
    <section id="login">
      <div class="container login__container">
        <a th:href="@{/}">
          <p class="logo eng">BEST MIND</p>
        </a>
        <form
          action="../player/profile.html"
          th:action="@{/login_proc}"
          th:method="post"
          th:object="${userLoginReq}"
        >
          <div class="form__container flex-column" style="display: block">
            <p class="input-label">아이디</p>
            <input
              type="text"
              placeholder="아이디"
              th:name="username"
              required
            />
            <p class="input-label">비밀번호</p>
            <input
              class="last-child"
              type="password"
              placeholder="비밀번호"
              th:name="password"
              required
            />
            <div class="button__container flex-right">
              <button class="btn-basic" type="submit">로그인</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
