<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/static/css/common/style.css">
    <link rel="stylesheet" href="/static/css/common/password_change.css">
</head>

<body>
    <!-- =========== PASSWORD CHANGE ========== -->
    <section id="password-change">

        <nav id="navigation"></nav>

        <div class="password-change__container container">
            <p class="font24">비밀번호 변경</p>
            <form action="#">
                <div class="form__container flex-column" style="display: block;">
                    <p class="input-label">새 비밀번호</p>
                    <input id="password" type="password" placeholder="비밀번호를 입력하세요" required>
                    <input id="re-password" type="password" placeholder="비밀번호를 다시 입력하세요" required>
                    <p class="font12 error">비밀번호가 일치하지 않습니다.</p>
                    <div class="button__container flex-right">
                        <button class="btn-basic" type="submit" disabled>변경하기</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script src="/static/javascript/common/base.js"></script>
    <script src="/static/javascript/common/password_change.js"></script>

</body>

</html>