<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <link rel="stylesheet" href="../../static/css/common/login.css">
</head>

<body>
    <!-- =========== SIGNUP ========== -->
    <section id="sign_up">
        <div class="container sign_up__container">
            <a th:href="@{/}">
                <p class="logo eng">MIND UP</p>
            </a>
            <p class="input-label">역할</p>
            <div class="select__container">
                <select id="role" name="role" onchange="selectChange()">
                    <option value="" selected disabled>역할을 선택하세요</option>
                    <option value="player_team">선수 (팀)</option>
                    <option value="player_personal">선수 (개인)</option>
                    <option value="director">지도자</option>
                    <option value="consultant">상담가</option>
                </select>
                <i class="uil uil-angle-down"></i>
            </div>
            <form action="../player/profile.html">
                <div class="form__container flex-column">
                    <p class="input-label">이름</p>
                    <input type="text" placeholder="이름을 입력하세요" th:name="username" required>
                    <p class="input-label">생년월일</p>
                    <input type="text" placeholder="생년월일 6자리를 입력하세요" th:name="username" required>
                    <div class="team_code">
                        <p class="input-label">팀 코드</p>
                        <input type="text" placeholder="팀 코드를 입력하세요" th:name="username">
                    </div>
                    <div class="position">
                        <p class="input-label">포지션</p>
                        <input type="text" placeholder="포지션을 입력하세요" th:name="username">
                    </div>
                    <p class="input-label">아이디</p>
                    <input type="text" placeholder="아이디를 입력하세요" th:name="username" required>
                    <p class="input-label">비밀번호</p>
                    <input class="last-child" type="password" placeholder="비밀번호를 입력하세요" th:name="password"
                        style="margin-bottom: 10px;" required>
                    <input type="password" placeholder="비밀번호를 다시 입력하세요" th:name="password" required>
                    <div class="terms flex-left">
                        <input type="checkbox">
                        <p class="font14"><a>이용약관</a>에 동의합니다 *</p>
                    </div>
                    <div class="button__container flex-right">
                        <button class="btn-basic" type="submit">가입하기</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script src="../../static/javascript/common/signup.js"></script>
</body>

</html>